{% extends 'base.html' %}

{% block  title_text%} Product List{% endblock %}
{% block  header_text%} Product List {% endblock %}

{% block  page_content%}
        <a id="create_product_link" href="/products/add">Create new Product</a>
        <br/>
        <table id="id_product_table" class="table">
            <tr>
                <th>Group</th>
                <th>Product No</th>
                <th>OEM / Engine</th>
                <th>Aliases</th>
            </tr>
             {% for product in object_list %}
                 <tr>
                    <td> {{ product.product_group}}</td>
                    <td> {{ product.standard_alias.product_no }}</td>
                    <td> {{ product.oem }} {{ product.engine }}</td>
                    <td>
                         {% for alias in product.productalias_set.all %}
                            {{ alias.product_no }}
                         {% endfor %}
                    </td>
                </tr>
             {% endfor %}


        </table>

 {% endblock %}
